/*body{
    background-color: blueviolet;
}*/

        a{
            color: chocolate;
        }
        hr{
            border: 1px solid rgb(255, 147, 97)
        }
        img{
            width: 30%; /*largura*/
            height: auto; /*altura*/
            border-radius: 5px; /*arredondar bordas*/
            box-shadow: 3px 3px 5px #292929; /*valor um é e valor dois são projeção da sombra, valor três espalhamento da sombra, cor da sombra!*/
        }